<div class="page-header">
  <h1>
    Standards
    <a href="/standards/new" class="btn btn-lg btn-success">New Standard</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Standard number</th>
        <th>Actions</th>
      </tr>

      <% @standards.each do |standard| %>
      <tr>
        <td><%= standard.standard_number %></td>
        <td>
          <a href="/standards/<%= standard.id %>" class="btn btn-primary">Show</a>
          <a href="/standards/<%= standard.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_standard/<%= standard.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
