<div class="page-header">
  <h1>
    Standards
    <a href="/standards/new" class="btn btn-lg btn-success">New Standard</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Standard Number</th>
        <th>Standard Description</th>
        <th>Actions</th>
      </tr>

      <% @standards.each do |standard| %>
      <tr>
        <td><%= standard.standard_number %></td>
        <td><%= standard.description %></td>
        <td>
          <a href="/standards/<%= standard.id %>/edit" class="btn btn-warning">Edit Standard</a>
          <a href="/delete_standard/<%= standard.id %>" class="btn btn-danger" rel="nofollow">Delete Standard</a>
        </td>
      </tr>
      <% end %>
    </table>

    <a href="/my_courses_index" class="btn btn-lg btn-primary">Back to My Courses</a>

  </div>
</div>
