<!-- Validation failure messages -->
<% if @standard.errors.any? %>
  <% @standard.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Standard</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_standard" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for standard_number -->
      <div class="form-group">
        <label for="standard_number" class="control-label">
          Standard number
        </label>

        <input type="text" id="standard_number" name="standard_number" placeholder="Standard number" class="form-control" value="<%= @standard.standard_number %>">
      </div>

      <div class="form-group">
        <label for="description" class="control-label">
          Standard Description
        </label>

        <input type="text" id="description" name="description" placeholder="Standard Description" class="form-control" value="<%= @standard.description %>">
      </div>

      <button class="btn btn-success">
        Create Standard
      </button>
      or
      <a href="/standards">Cancel</a>
    </form>
  </div>
</div>
